<table class="table table-striped">
  <tr>
    <?php foreach ($headers as $header): ?>
    <th><?php print $header; ?></th>
    <?php endforeach; ?>
  </tr>

  <tr>
    <?php foreach ($headers as $header): ?>
      <td><input type="text" name="find-<?php print $header; ?>" ></td>
    <?php endforeach; ?>
  </tr>

  <?php foreach ($table as $title => $row): ?>
  <tr>

    <?php
    if ($title == 'headers') {
      continue;
    }

    foreach ($row as $value): ?>
    <td> <?php print $value; ?></td>
    <?php endforeach; ?>
  </tr>
  <?php endforeach; ?>
</table>
